.Navbar{
    width: 100%;
    background-color: #383838;


}

.Navbar__Inner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto ;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.Logo__Container{
    color: #F9F9F9;
}
.Logo{
    font-size: 1.5rem;
    font-family: monospace;
    letter-spacing: 3px;
}

.Navbar__Ul{
    display: flex;
}

.List__Item{
    margin-left: .5rem;
    list-style-type: none;

}

.List__Link{
    text-decoration: none;
    color:#F9F9F9 ;
    padding: .5rem;
    border-radius: 10px;
    transition: all .3s linear;
}
.List__Link:hover{
background-color: #535353;
}